
@font-face {
    font-family: norse-bold;
    src: url(media/Norse-Bold.otf);
}



body {
    margin: 0;
}

.main-div {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.media-div {
    display: flex;
    flex-direction: column;
    width: 35vw;
    position: relative;
}

.media-div img {
    height: 100vh;
}

.logo {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vw;
}

.logo img {
    height: 7vw;
}

.logo text {
    font-family: norse-bold;
    font-size: 6vw;
    color: white;
}

.signup-div {
    display: flex;
    flex-direction: column;
}

.credits {
    position: absolute;
    width: 100%;
    bottom: 1%;
    color: white;
    text-align: center;
}

.credits a {
    color: white;
}

.signup-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:rgba(250, 250, 249, 0.918)
}

.info-text {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    margin: 0 20vw 3vw 5vw;
}

.info-text, .form-title {
    font-size: 1.5rem;
    font-family: Roboto;
    font-weight: 500;
}

form {
    width: 100%;
}

.form-title, .form-inputs, .info-text, #submit-btn, #login-div, .signup-error {
    margin-left: 3vw;
    margin-right: 5vw;
}

.form-box {
    background-color: white;
    box-shadow: 5px 3px 3px rgba(160, 156, 145, 0.644);
    padding: 15px 0 25px 0;
    margin-bottom: 2vw;
}

.form-title {
    margin-bottom: 1vw;
}

.form-inputs {
    display: flex;
    flex-flow: row wrap;
    column-gap: 5vw;
    row-gap: 1.5vw;
    width: 700px;
}

.input {
    display: flex;
    flex-direction: column;
    font-family: Inter;
    font-size: 0.75rem;
    font-weight: 500;
    color: #3b3a3a;
    row-gap: 3px;
}

.form-inputs input {
    width: 300px;
    height: 30px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    padding-left: 5px;
}

#submit-btn {
    padding: 15px 45px;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    background-color: #596D48;
    color: white;
    border-radius: 7px;
    border: 0;
    margin-bottom: 5px;
}

#login-div {
    font-family: Roboto;
    font-size: 1rem;
}

.signup-error {
    margin-bottom: 2vw;
}

input:focus {
    box-shadow: 2px 3px 3px rgba(160, 156, 145, 0.644);
}

.invalid-input {
    border: 2px solid red !important;
}

.check-passed {
    border: 2px solid green !important;
}

.error-text {
    margin-top: 0;
    color: red;
}

button:hover, #login-text:hover {
    cursor: pointer;
}